@font-face {
    font-family: "Fira Code";
    src: local("Fira Code")
}

.gutter-breakpoint:hover:not([data-active=true])::after {
    content: "●";
    opacity: .5;
}

.gutter-breakpoint[data-active=true]::after {
    content: "●";
}

.font, pre {
    font-family: "Fira Code";
}

body {
    background-color: rgb(61, 61, 61);
    color: white;
}

.gitlense-changed>div {
    background-color: orange;
}

.error-warning {
    color: orange;
}

.error-invalid {
    color: rgb(216, 15, 15);
}

.breakpoint {
    color: rgb(216, 15, 15);
}

.hint {
    color: rgba(128, 128, 128, 0.534);
}